# Ignorer le répertoire node_modules
node_modules/

# Ignorer le fichier d'environnement
.env

# Ignorer les répertoires spécifiques à l'IDE
.idea/
.vscode/

# Ignorer les fichiers spécifiques au système d'exploitation
.DS_Store
Thumbs.db

# Ignorer les fichiers journaux
*.log

# Ignorer la sortie compilée
/dist
/build
/public

# Ignorer un fichier spécifique dans le répertoire src/components
/src/components/ContactForm.js
